html {
        margin 0;
        display: block;
        width: 100vw;
        height: 100vh;
        padding: 0;
        text-align: center;
        color: white;
        background: url(background.jpg) no-repeat bottom center scroll;
        background-color: white;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
        -o-background-size: contain;
        font-family: Arial, Helvetica, sans-serif;
}


img{
        /*logo do if em cima*/
        width: 200px;
        height: 66px;
        padding: 2px;
}

table, th, td{
        border-collapse: collapse;
        border-spacing: 0;
        text-align: center;
        padding: 16px;
        border-color: black;
        border: 1px solid black;
        width: 60%;
        margin: 0 auto;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
                     
                  
}

h1, h2 {
        text-align: center;
        color: black;
    
}

p, li {
        color: black;
        text-shadow: 0 0 3px white;
        list-style-type: square;
        list-style-position: outside;
}

.header{
        height: 70px;
        background: #87c540;
        padding: 0 20px;
        color: white;
}
    
.logo{
        line-height: 25px;
        float: left;
        font-family: Arial;
        text-transform: uppercase;
        color: white;
}

.menu{
        float: right;
        line-height: 30px;
}
  
.menu a{
        color: white;
        font-family: Arial;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 10px;
        transition: 0.4s;
}